<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ajh.aijihui.mapper.AjhCarMapper">
    <select id="listUserShopCar" resultType="com.ajh.aijihui.entity.AjhCar">
        select car.*,pro.pic_url url,pro.product_name productName,pro.now_price nowPrice
        from ajh_car car,
            ajh_product pro
        where car.product_id = pro.id
            and car.user_id = #{userId}
    </select>

    <delete id="deleteShopInfo">
        delete from ajh_car where id = #{id}
    </delete>

    <update id="updateProductStatus">
        update ajh_product
        set publish_status = '0'
        where id = #{productId}
    </update>

</mapper>